.fruit-container {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
}

.fruit-container_size-min {
    min-height: 400px;
    margin: 0 auto 100px auto;
}

.fruit:hover {
    height: 430px;
}

.fruit:hover div.fruit__info {
    display: flex;
}

.fruit {
    display: flex;
    flex-direction: column;
    align-content: center;
    background: var(--white);
    border-radius: 15px;
    box-shadow: 15px 10px 20px rgba(50%, 36%, 56%, 0.5);
    transition: all 0.5s ease;
}

.fruit__info {
    display:none;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.fruit__info_size-default {
    height: 190px;
}

.fruit_size-default {
    width: 290px;
    height: 210px;
    margin: 40px 20px 0 20px;
}

.fruit__img_fixed {
    width: auto;
    height: 150px;
    margin: 30px auto;
}

.fruit__name {
    color: var(--primary-purple);
    font-size: 16px;
    font-weight: 700;
}

.fruit__name_centered {
    margin: 0 auto;
}

.fruit__description {
    color: var(--purple-light);
    font-size: 12px;
    text-align: center;
}

.fruit__description_centered {
    padding: 0 20px;
    margin: 20px auto;
}

.fruit__buttons {
    display: flex;
    flex-direction: row;
}


.fruit__buttons_centered {
    justify-content: center;
}

.fruit__shopping-cart {
    display: flex;
    justify-content: center;
    background: var(--orange);
    border-radius: 15px;
    border: none;
    transition: all 0.5s ease;
}

.fruit__shopping-cart:active {
    background: var(--orange-light);
}

.fruit__shopping-cart_inactive {
    background: var(--orange-light);
}

.fruit__shopping-cart_size-max {
    width: 140px;
    height: 40px;
}

.fruit__shopping-cart-text {
    color: var(--white);
    font-size: 12px;
}

.fruit__shopping-cart-text_centered {
    margin: auto 0;
    padding-right: 20px;
}

.fruit__favourite {
    display: flex;
    justify-content: center;
    background: var(--orange-light);
    border-radius: 15px;
    border: none;
}

.fruit_favourite_size-max {
    width: 50px;
    height: 40px;
    margin-left: 10px;
}